In [1]:
import getpass
import os

# os.environ["OPENAI_API_KEY"] = getpass.getpass()

# Uncomment the below to use LangSmith. Not required.
# os.environ["LANGCHAIN_API_KEY"] = getpass.getpass()
# os.environ["LANGCHAIN_TRACING_V2"] = "true"

In [18]:
from langchain_community.utilities import SQLDatabase
key = os.environ.get('OPENAI_API_KEY')

db = SQLDatabase.from_uri("postgresql://airflow:airflow@localhost:5432/properties")
print(db.dialect)
print(db.get_usable_table_names())

postgresql
['real_estate_listings']

In [14]:
print(db.get_table_info())

CREATE TABLE real_estate_listings (
	id SERIAL NOT NULL,
	title VARCHAR(255) NOT NULL,
	price DOUBLE PRECISION,
	currency VARCHAR(10) NOT NULL,
	number_of_rooms DOUBLE PRECISION,
	location VARCHAR(255) NOT NULL,
	area_m2 DOUBLE PRECISION,
	CONSTRAINT real_estate_listings_pkey PRIMARY KEY (id)
)

/*
3 rows from real_estate_listings table:
id	title	price	currency	number_of_rooms	location	area_m2
1	Se prodavaat stanovi vo izgradba od 75m2 vo Strog Centar	nan		nan	Tetovo	75.0
2	Се продава стан во Карпош 3 (приземје; руски згради)	72000.0	EUR	2.0	Karposh, Skopje	51.0
3	NaN	nan	NaN	nan	NaN	nan
*/

In [16]:
db.run("SELECT * FROM real_estate_listings LIMIT 10;")

"[(1, 'Se prodavaat stanovi vo izgradba od 75m2 vo Strog Centar', nan, '', nan, 'Tetovo', 75.0), (2, 'Се продава стан во Карпош 3 (приземје; руски згради)', 72000.0, 'EUR', 2.0, 'Karposh, Skopje', 51.0), (3, 'NaN', nan, 'NaN', nan, 'NaN', nan), (4, 'Kamelija prekrasna garsonjera na 5min od carsija', 55000.0, 'EUR', nan, 'Ohrid', 32.0), (5, 'Викендица во с. Драмче', 11000.0, 'EUR', nan, 'Delčevo', 63.0), (6, 'Градежно земјиште на преубава локација', nan, '', nan, 'Sopište, Skopje', 1500.0), (7, 'Ubav trosoben stan Kozle', 83000.0, 'EUR', 3.0, 'Skopje', 55.0), (8, 'Se prodava plac vo Pripor od 356m2', 90.0, 'EUR', nan, 'Kisela Voda, Skopje', 356.0), (9, 'се продава куќа', 79000.0, 'EUR', 2.0, 'Čučer-Sandevo, Skopje', 82.0), (10, 'Kuka so plac i garazi vo Kumanovo hitno se prodava', 95000.0, 'EUR', 8.0, 'Kumanovo', 200.0)]"

In [20]:
from langchain_community.chat_models import ChatOpenAI
from langchain_community.llms.ollama import Ollama
from langchain_community.agent_toolkits import create_sql_agent

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0, api_key=key)
agent_executor = create_sql_agent(llm, db=db, verbose=True, handle_parsing_errors=True)

ValidationError: 1 validation error for ChatOpenAI
__root__
  Did not find openai_api_key, please add an environment variable `OPENAI_API_KEY` which contains it, or pass `openai_api_key` as a named parameter. (type=value_error)

In [18]:
agent_executor.invoke(
    "Which is the most expensive price in the database? Describe the item.",
)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: pazar3I should query the schema of the "pazar3" table to find the price column.
Action: sql_db_schema
Action Input: pazar3
CREATE TABLE pazar3 (
	id INTEGER,
	"Title" TEXT,
	"Price" FLOAT,
	"Currency" TEXT,
	"Number_of_rooms" FLOAT,
	"Location" TEXT,
	"Area(m2)" FLOAT,
	PRIMARY KEY (id)
)

/*
3 rows from pazar3 table:
id	Title	Price	Currency	Number_of_rooms	Location	Area(m2)
1	Gradezna parcela	None	None	None	Vasilevo, Strumica	3000.0
2	Се издава нов стан 76 m2 до ОУ Блаже Конески	550.0	EUR	4.0	Aerodrom, Skopje	76.0
3	SHITEN SHTEPIT DHE PARCELAT	1.0	EUR	None	Kumanovo	1600.0
*/I can now construct a query to find the item with the most expensive price in the "pazar3" table.
Action: sql_db_query
Action Input: SELECT * FROM pazar3 ORDER BY Price DESC LIMIT 1[(648, 'Prodavame nova luks kukja vo Ždanec komplet opremen', 700000.0, 'EUR', 5.0, 'Karposh, Skopje', 320.0)]The most expensive price in the database is 700,000 EUR for a house in Karposh, Skopje with 5 rooms and an area of 320 m2.
Final Answer: The most expensive price in the database is 700,000 EUR for a house in Karposh, Skopje with 5 rooms and an area of 320 m2.

> Finished chain.

{'input': 'Which is the most expensive price in the database? Describe the item.',
 'output': 'The most expensive price in the database is 700,000 EUR for a house in Karposh, Skopje with 5 rooms and an area of 320 m2.'}

In [25]:
agent_executor.invoke(
    "For the areas Skopje, Ohrid and Veles, what is the average price in EUR?",
)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: pazar3I should query the schema of the pazar3 table to see if it contains information about prices in different areas.
Action: sql_db_schema
Action Input: pazar3
CREATE TABLE pazar3 (
	id INTEGER,
	"Title" TEXT,
	"Price" FLOAT,
	"Currency" TEXT,
	"Number_of_rooms" FLOAT,
	"Location" TEXT,
	"Area(m2)" FLOAT,
	PRIMARY KEY (id)
)

/*
3 rows from pazar3 table:
id	Title	Price	Currency	Number_of_rooms	Location	Area(m2)
1	Gradezna parcela	None	None	None	Vasilevo, Strumica	3000.0
2	Се издава нов стан 76 m2 до ОУ Блаже Конески	550.0	EUR	4.0	Aerodrom, Skopje	76.0
3	SHITEN SHTEPIT DHE PARCELAT	1.0	EUR	None	Kumanovo	1600.0
*/I can now construct a query to calculate the average price for the areas Skopje, Ohrid, and Veles.
Action: sql_db_query
Action Input: SELECT AVG(Price) FROM pazar3 WHERE Location IN ('Skopje', 'Ohrid', 'Veles') AND Currency = 'EUR'[(83599.1968911917,)]The average price in EUR for the areas Skopje, Ohrid, and Veles is approximately 83599.20 EUR.
Final Answer: The average price in EUR for the areas Skopje, Ohrid, and Veles is approximately 83599.20 EUR.

> Finished chain.

{'input': 'For the areas Skopje, Ohrid and Veles, what is the average price in EUR?',
 'output': 'The average price in EUR for the areas Skopje, Ohrid, and Veles is approximately 83599.20 EUR.'}

In [28]:
agent_executor.invoke(
    "What is the average price per m2 in Skopje in EUR?",
)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: pazar3I should query the schema of the pazar3 table to see if it contains the necessary columns for calculating the average price per m2 in Skopje.
Action: sql_db_schema
Action Input: pazar3
CREATE TABLE pazar3 (
	id INTEGER,
	"Title" TEXT,
	"Price" FLOAT,
	"Currency" TEXT,
	"Number_of_rooms" FLOAT,
	"Location" TEXT,
	"Area(m2)" FLOAT,
	PRIMARY KEY (id)
)

/*
3 rows from pazar3 table:
id	Title	Price	Currency	Number_of_rooms	Location	Area(m2)
1	Gradezna parcela	None	None	None	Vasilevo, Strumica	3000.0
2	Се издава нов стан 76 m2 до ОУ Блаже Конески	550.0	EUR	4.0	Aerodrom, Skopje	76.0
3	SHITEN SHTEPIT DHE PARCELAT	1.0	EUR	None	Kumanovo	1600.0
*/I can calculate the average price per m2 in Skopje by dividing the total price by the total area for all listings in Skopje.
Action: sql_db_query
Action Input: SELECT AVG("Price"/"Area(m2)") AS "Average Price per m2 in Skopje" FROM pazar3 WHERE "Location" LIKE '%Skopje%' AND "Currency" = 'EUR'[(1072.881322549351,)]The average price per m2 in Skopje in EUR is approximately 1072.88 EUR.
Final Answer: 1072.88 EUR

> Finished chain.

{'input': 'What is the average price per m2 in Skopje in EUR?',
 'output': '1072.88 EUR'}

In [1]:
agent_executor.invoke(
    "Find one row and confirm if the title matches the other columns and give it a score.",
)

NameError: name 'agent_executor' is not defined